body {
  font-family: Arial;
}

button, input {
  font-family: Arial;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.error {
  color: red;
  font-size: .85em;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total-container {
  padding: 5%;
}

.total {
  font-size: 2.2em;
}

.form {
  width: 90%;
  margin: auto;
  max-width: 600px;
  margin-bottom: 8%;
}

.form .form-fields {
  margin-bottom: 1em;
}

.form .form-fields input:first-child {
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  .form .form-fields input:first-child {
    margin: 0 1em 0 0;
  }
}

@media (min-width: 600px) {
  .form .form-fields {
    display: flex;
  }
}

@media (min-width: 600px) {
  .form .form-fields input {
    width: 50%;
  }
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5%;
}

/* Offline/online message */
#connectionMessage:after {
  display: block;
  padding: .5em;
  font-size: .85em;
  text-align: center;
}
.default #connectionMessage:after{
  content:"Track your budget online or offline.";
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.offline #connectionMessage:after{
  content:"You are offline. Data will be saved once back online.";
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.online #connectionMessage:after{
  content:"You are back online.";
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
